/* CSS styles for mailto modal overlay */
.bettermailto-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.bettermailto-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 90vw;
  max-width: min(500px, 90%);
  text-align: center;
  position: relative;
  padding: 30px;
  padding-bottom: 5px;
  margin: 15px;
}

.bettermailto-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #555;
}

/* Container for email field and button */
.bettermailto-email-field {
  margin-top: 80px;
  position: relative;
  flex-direction: column; /* Change to column direction */
  align-items: center; /* Center items horizontally */
  width: 100%;
}

/* Email input field */
.bettermailto-email-input {
  width: calc(100% - 42px);
  padding: 20px;
  border: 0px solid #898989;
  border-radius: 5px; /* Rounded corners on the left side */
  font-size: 16px;
  font-weight: bold;
  background-color: #f3f4f6;
}

/* Button */
.bettermailto-copy-btn {
  background-color: #18181a;
  color: white;
  margin-top: 15px;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  transition: background-color 0.3s;
}

/* Hover effect */
.bettermailto-copy-btn:hover {
  /* Darken the background color on hover */
  background-color: #49494b;
}

.bettermailto-modal hr {
  border: none;
  border-top: 1px solid #adadad;
  margin: 50px 0;
}

.bettermailto-handle-email-text {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

.bettermailto-options {
  display: flex;
  flex-direction: column; /* Changed to column layout */
  align-items: center; /* Center items vertically */
  margin: auto;
  width: 65%;
}

.bettermailto-options .bettermailto-btn {
  width: 100%; /* Make all buttons the same width */
  padding: 10px; /* Adjusted padding */
  margin-bottom: 10px; /* Added margin between buttons */
  background-color: #f4f4f5;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s;
}

.bettermailto-options .bettermailto-btn:hover {
  background-color: #d5d5d5;
}

.bettermailto-powered {
  margin-top: 20px;
  font-size: 14px;
  color: #797979;
  text-align: right;
  margin-top: 40px;
  margin-bottom: 20px;
}
